@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
  --bg-color: #009687;
  --bg-light: #d8f5f2;
  --disabled-color: #9ca4ac;
}

.bg-green {
  background-color: var(--bg-color);
}

.text-green {
  color: var(--bg-color);
}
/* navigation bar */
.nav-inner{
  border-radius: 0 0 20px 20px;
  /* border-top-left-radius: 20px; */
  
}


/* button styiles */


button {
  background-color: #009687; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px; /* Rounded edges */
  opacity: 0.8; /* Opacity */
}

button:hover {
  background-color: #009687;
}

button:active {
  background-color: #009687;
  
  
}

/* in students details horizontal line */
.vertical-line {
  border-left: 1px solid black;
  height: 700px; /* Adjust the height as needed */
  
}


